{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Desafio Portugol</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>

<body>

    <div class="animacao-fundo" data-img="{% static '../static/img/SimboloS.png' %}"></div>



    <div class="container">

        <section class="tela ativa">
            <h1>Bem-vindo ao desafio do cofre secreto!</h1>
            <p>Desvende os codigos e descubra o segredo!</p>
            <p>Insira seu nome para o ranking:</p>
            <input type="text" id="input-nome" placeholder="Digite seu nome aqui...">
            <br>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <button class="btn btn-blue" onclick="irParaJogo()">Continuar</button>
                <button class="btn btn-alt" style="text-align: center;"
                    onclick="window.location.href='{% url 'ranking' %}'">Ver Ranking</button>
            </div>
        </section>
    </div>

    <script>
        function irParaJogo() {
            const nome = document.getElementById('input-nome').value.trim();
            if (!nome) return alert("Por favor, digite seu nome!");
            // Guardamos no localStorage apenas para identificar o jogador durante a sessão
            localStorage.setItem('usuarioAtual', nome);
            window.location.href = "{% url 'desafio' %}";
        }
    </script>

    <script src="{% static 'scripts/animacaoCad.js' %}"></script>
</body>

</html>