{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Escolha a Dificuldade</title>
  <link rel="stylesheet" href="{% static 'style/dificuldade.css' %}">
</head>
<body>

  <div class="container">

    <!-- Fácil -->
    <div class="card" onclick="jogar('facil')">
      <div class="card-front facil">
        <img src="{% static 'img/facil.png' %}">
        <h2>Fácil</h2>
      </div>
    </div>

    <!-- Médio -->
    <div class="card" onclick="jogar('medio')">
      <div class="card-front medio">
        <img src="{% static 'img/medio.webp' %}">
        <h2>Médio</h2>
      </div>
    </div>

    <!-- Difícil -->
    <div class="card" onclick="jogar('dificil')">
      <div class="card-front dificil">
        <img src="{% static 'img/dificil.webp' %}">
        <h2>Difícil</h2>
      </div>
    </div>

  </div>

  <!-- MODAL AVISO -->

  <div id="modal-aviso" class="modal">
    <div class="modal-content">

      <h2 class="jogo-inicia">⚠️ Aviso Importante</h2>

      <p>
        É <strong>proibido atualizar a página</strong> durante o desafio.
      </p>

      <p>
        Caso a página seja recarregada, o jogador poderá ser
        <strong>desclassificado</strong>.
      </p>

      <div class="modal-buttons">
        <button onclick="fecharAviso()">Cancelar</button>
        <button onclick="abrirInicio()">Continuar</button>
      </div>

    </div>
  </div>

  <!-- MODAL INICIANDO -->

  <div id="modal-inicio" class="modal">
    <div class="modal-content">

      <h2 class="jogo-inicia">🎮 Jogo iniciando...</h2>

      <p>
        Você terá <strong>15 minutos</strong>
        para descobrir o código do cofre.
      </p>

      <p><strong>Você está preparado?</strong></p>

      <div class="modal-buttons">
        <button type="button" onclick="cancelar()">Não</button>
        <button onclick="confirmar()">Sim</button>
      </div>

    </div>
  </div>

  <script>
    let nivelSelecionado = null;

    // abre aviso
    function jogar(nivel) {
      nivelSelecionado = nivel;

      document.getElementById("modal-aviso").style.display = "flex";
    }

    // fecha aviso
    function fecharAviso() {
      document.getElementById("modal-aviso").style.display = "none";
    }

    // sai do aviso e abre modal de iniciar
    function abrirInicio() {
      document.getElementById("modal-aviso").style.display = "none";

      document.getElementById("modal-inicio").style.display = "flex";
    }

    // confirma entrada
    function confirmar() {
      localStorage.setItem("dificuldade", nivelSelecionado);

      window.location.href = "{% url 'desafio' %}?nivel=" + nivelSelecionado;
    }

    // cancela
    function cancelar() {
      document.getElementById("modal-inicio").style.display = "none";
    }
  </script>

</body>
</html>