{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cofre Aberto - Missão Cumprida!</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/Premio.css' %}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

    <div class="container-conclusao">
        <div class="paineis-wrapper">
            <div class="painel-sucesso">
                <h1>🏆 VITÓRIA!</h1>
                <p>Parabéns, Desafiante! Você provou seu conhecimento em Portugol e conseguiu descriptografar o segredo do Cofre.</p>
                
                <a href="{% url 'ranking' %}" class="btn btn-blue">Ver Ranking Final</a>

                <a href="{% url 'creditos' %}" class="btn btn-blue">
                    Ver Créditos 🎬
                </a>
            </div>
        </div>

  </div>
</div>

    <script src="{% static 'scripts/premioCofre.js' %}"></script>

    
</body>
</html>