body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(
        135deg,
        #0b1d3a 0%,
        #1e3a8a 25%,
        #f59e0b 55%,
        #f97316 80%,
        #0b1d3a 100%
    );
    background-attachment: fixed;
}

.container {
  display: flex;
  gap: 50px;
}

/* CARD */
.card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-15px) scale(1.1); /* 🔥 efeito pulo */
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

/* INTERNO */


/* FRENTE E VERSO */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  position: absolute;
  inset: 0; /* 🔥 substitui width/height e elimina folga */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}

/* FRENTE */
.card-front {
  transform: rotateY(0deg);
  position: relative;
  overflow: hidden;
}

.card-front img {
  width: 220px;
  height: 203px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* CORES */
.facil { background-color: #ffff; }
.medio { background-color: #ffff; }
.dificil { background-color: #ffff; }

/* VERSO */
.card-back {
  background: #222;
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
  text-align: center;
}

/* BOTÃO */
.card-back button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #00f2fe;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.card-back button:hover {
  background: #4facfe;
  transform: scale(1.1);
}

/* TÍTULO */
h2 {
  margin-top: 50px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.card:hover .card-front::before {
    left: 0;
}



.card-front::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%; /* começa zerado */
    transition: height 0.4s ease;
}

.card:hover .card-front::after {
    height: 15%; /* sobe até o topo */
}

.facil::after {
    background: #4CAF50; /* azul */
}

.medio::after {
    background: #0059ff;  /* amarelo */
}

.dificil::after {
    background: #fc0404; /* laranja */
}

/* Fácil - azul */
.card:hover .facil {
    box-shadow: 0 0 50px #4CAF50;
}

/* Médio - amarelo */
.card:hover .medio {
    box-shadow: 0 0 50px #0059ff;
}

/* Difícil - vermelho/laranja */
.card:hover .dificil {
    box-shadow: 0 0 50px #fc0404;
}

/* FUNDO ESCURO */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

  justify-content: center;
  align-items: center;

  z-index: 999;
}

/* CAIXA DO MODAL */
.modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  box-shadow: 0 0 30px rgba(0, 123, 255, 0.5);
  animation: aparecer 0.3s ease;
}

/* BOTÕES */
.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* ANIMAÇÃO */
@keyframes aparecer {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  
}

/* BOTÃO SIM */
.modal-buttons button:last-child {
  background: #22c55e;
  color: white;
}

/* HOVER SIM */
.modal-buttons button:last-child:hover {
  background: #16a34a;
  transform: scale(1.1);
}

/* BOTÃO NÃO */
.modal-buttons button:first-child {
  background: #ef4444;
  color: white;
}

/* HOVER NÃO */
.modal-buttons button:first-child:hover {
  background: #dc2626;
  transform: scale(1.1);
}

.modal-content h2 {
  position: relative;
  top: -30px;
  color: #0056b3;
}

.modal-content p {
  position: relative;
  top: -20px;
}